<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    <div class="cover">

      <div class="cover-image" style="background-image: url(http://ironsummitmedia.github.io/startbootstrap-landing-page/img/intro-bg.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">ReservaLab</h1>
            <p class="text-inverse">Sistema para reserva de laboratórios do IFBA</p>
            <br>
            <br>
            <a class="btn btn-lg btn-primary" style="height: 100 px; width: 200px" href="{% url 'login' %}">Login</a><br /><br />
            <a href="{% url 'cadastro' %}"> <span style="color: white">Não tem login? Cadastre-se</span></a>

          </div>
        </div>
      </div>
    </div>
    <div class="section" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Desenvolvedores</h1>
          </div>
        </div>
        <div class="row col-md-offset-2">
          <div class="col-md-2">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
            <h3 class="text-center">Fagner Pinheiro</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
            <h3 class="text-center">Italo Miranda</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
            <h3 class="text-center">Joabe Pinheiro</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
            <h3 class="text-center">Matheus Coqueiro</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-2">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
            <h3 class="text-center">Ramon Maciel</h3>
            <p class="text-center">Developer</p>
          </div>
        </div>
      </div>
    </div>
  

</body></html>