{% extends 'tbase.html' %}
{% load staticfiles %}

{% block corpo %}
  <div class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="#">
	                <span>ReservaLab</span>
	                </a>
	            </div>
	            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
	                <ul class="nav navbar-nav navbar-right">
	                    <li ><a href="index">Home</a></li>
	                    <li class="active"><a href="lista_laboratorio">Laboratórios</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Lista de Laboratórios</h1></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
    <div class="container">
    <div class="row">
                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Bloco</th>
                                <th>Sala</th>
                                <th> Nome </th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for laboratorio in laboratorios %}
                            <tr>
                                <td>{{laboratorio.id}}</td>
                                <td>{{laboratorio.bloco}}</td>
                                <td>{{laboratorio.sala}}</td>
                                <td>{{laboratorio.nome}}</td>
								<td><a href="{% url 'reservar' laboratorio.id %}"><i class="fa fa-check text-navy"></i></a></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}