{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
</head>
<body>
	<div class="container">
	<form action="{% url 'registrar' %}" method="post">
		<h2 class="form-dignin-heading">Crie seu usuário</h2>

			<input id="id_usuario" name="usuario" type="text"
			class="form-control" placeholder="Usuario"
			required>

			<input id="id_nome" name="nome" type="text"
			class="form-control" placeholder="Nome"
			required>

			<input id="id_senha" name="senha" type="text"
			class="form-control" placeholder="Senha"
			required>

			<input id="id_matricula" name="matricula" type="text"
			class="form-control" placeholder="Matricula"
			required>

			<input id="id_curso" name="curso" type="text"
			class="form-control" placeholder="Curso"
			required>

	</form>
	</div>

</body>
</html>