{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/signin.css" %}">
</head>
<body>
	<div class="container">
	<form class="form-signin" action="/cadastro/" method="post">
	    {% csrf_token %}
		<h2 class="form-signin-heading">Crie seu usuário</h2>
			<input id="id_nome" name="nome" type="text"
			class="form-control" placeholder="Nome"
			required>

        	<input id="id_matricula" name="matricula" type="text"
			class="form-control" placeholder="Matricula"
			required>

			<input id="id_senha" name="senha" type="password"
			class="form-control" placeholder="Senha"
			required>

			<input id="id_curso" name="curso" type="text"
			class="form-control" placeholder="Curso"
			required>
			<hr/>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
	

	</form>
	</div>

</body>
</html>